.galleryContainer {
  overflow-x: hidden;
}

.galleryWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 sütun yan yana */
  gap: 10px; /* aralarda boşluk */
  padding: 20px;
}

.imageContainer {
  width: 100%;
  height: 100%;
}

.galleryImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.galleryFooterWrapper {
  width: 100vw;
  border: red 1px solid;
}

@media (max-width: 768px) {
  .galleryWrapper {
    grid-template-columns: repeat(2, 1fr); /* 2 sütun yan yana */
  }

  .bookPicText {
    font-size: 1.2rem; /* Daha küçük yazı boyutu */
  }
}
